# Node
green-Test/node_modules/
dist/
build/
.env
.env.*   # Ex: .env.development, .env.local etc

# Logs
*.log
logs/
npm-debug.log*

# Compilados
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Banco local (ex: SQLite)
*.sqlite
*.sqlite3

# Coverage
coverage/

# Cache
.cache/
tmp/
temp/

# Test output
jest-html-reporters-*
